<div>
  <%= flash[:notice] %>
</div>

<div>
  <p>
    <strong>Title:</strong><%= @book.title %>
  </p>
</div>

<div>
  <p>
    <strong>Body:</strong><%= @book.body %>
  </p>
</div>

<div>
  <%= link_to 'Edit', edit_book_path(@book.id) %>
  |
  <%= link_to 'Back', books_path %>
</div>
